{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "singleQuote": true,
                "tabWidth": 4
            }
        ]
    },
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    }
}
